# Ignore dataset and cropped images (too large for github)
segment/car-license-plate-detection/
segment/cropped_images
segment-env/

# Ignore OS-specific files
.DS_Store
Thumbs.db

# Ignore log files
*.log
# Ignore zipped files
*.zip

# Ignore temporary files
*.tmp